@{
    ViewData["Title"] = "Get to know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to know Joel at</h1>
    <!-- Links to external webpages-->
    <h3>
        <a class="nav-link text-dark" href="https://www.qwcomedy.com/"><u>Quick Wits Comedy</u></a>
  
        <a class="nav-link text-dark" href="https://baconsale.com/">
            <u>Baconsale</u>
            <br />
            <br />
            <img src="~/images/baconsalekate.jpg" width="600px" />
        </a>
    </h3>
</div>