 <!-- Kimberly Hunter mission 6 - make joel a site he can update movie database and users can get to know him-->
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/images/joelhiltonheadshot.jpg" />
</div>
